$color-base: #000000;
$color-weak: #52575C;
$color-wheat: #F3F4F6;
$color-background: #FFFFFF;
$color-border: #919191;
$color-splitter: #E5E5E5;


$font-family-base: 'Roboto';
$font-family-accent: 'Montserrat';